
name: EAS Build (Android & iOS)

on:
  push:
    branches: [ "main", "release/*" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Expo login
        run: npx expo login --username ${{ secrets.EXPO_USERNAME }} --password ${{ secrets.EXPO_PASSWORD }}
      - name: Prebuild native projects
        run: npx expo prebuild
      - name: EAS Build Android
        run: npx eas build --platform android --non-interactive --profile production
      - name: EAS Build iOS
        run: npx eas build --platform ios --non-interactive --profile production
